#feed {
	width:360px;
	height:552px;
	box-shadow: 3px 5px 10px #444;
}

#fbNewsTitle {
	font-family: 'Merriweather sans', sans-serif;
	font-size: 2em;
	font-style: italic;
	line-height: 2em;
	color: #680056;
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 10px;
	position: relative;
	top: 10px;
}

.postTitle {
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: bold;
	font-size: 15px;
	margin: 5px 0px 5px 0px;
	color: #680056;
}

.post {
	
	margin-bottom: 20px;
	padding: 10px;
}

.postFooter {
	margin-top: 15px;
}

.fbLink {
	float:right;
}

#rule0, #rule1 {
	width: 312px;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 22px;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, from(#FFF), color-stop(0.5, #444), to(#FFF));
	background-image: -webkit-linear-gradient(left top, #FFF, #444 50%, #FFF 100%);
	background-image: -moz-linear-gradient(left top, #FFF, #444 50%, #FFF 100%);
	background-image: -o-linear-gradient(left top, #FFF, #444 50%, #FFF 100%);
	background-image: linear-gradient(left top, #FFF, #444 50%, #FFF 100%);
}

#loading {
	margin:auto;
	width:50px;
}
